//----------------------------------------------------------------------------------------
//GLOBAL ELEMENTS
//section titles
.section-title {
    color: var(--bs-primary);
}

.section-subtitle {
    font-size: 1.9rem;
}

//section movement
section {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-out;
}

section.show {
    transform: translateX(0);
    opacity: 1;
}

//back-to-top btn
#backToTopBtn {
    opacity: 0;
}

#backToTopBtn.show {
    position: fixed;
    bottom: 55px;
    right: 20px;
    background-color: var(--bs-info);
    color: var(--bs-light);
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 0.6s ease;
}

#backToTopBtn:hover {
    opacity: 0.8;
}

//service-divider
.service-divider {
    border: 1px solid var(--bs-info);
}

//----------------------------------------------------------------------------------------
//HEADER
//canvas
#animatedBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

//img
#heroLogo {
    width: 330px;
    height: 330px;
}

/*
.header {
    background: #151515 url(../images/intro-bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*/

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.header .text-container {
    z-index: 10;
}

//----------------------------------------------------------------------------------------
//ABOUT ME
.my-info-link {
    text-decoration: none;
}

.my-info-link:hover {
    text-decoration: underline;
}

.about-picture {
    width: 120px;
}

.about .card {
    width: 30%;
    height: 142px;
    transition: transform 0.6s ease-out;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

.card:hover {
    transform: scale(1.1);
}

.skill-card-img {
    width: 90%;
}

//----------------------------------------------------------------------------------------
//PORTFOLIO

.project:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.project {
    transition: all 0.5s ease-in-out;
}

//----------------------------------------------------------------------------------------
//SERVICES
.services {
    background: url(../images/services2_bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.services::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.services .container {
    z-index: 10;
}

//----------------------------------------------------------------------------------------
//CONTACT
.contact-actions .card {
    cursor: pointer;
    width: 180px;
    height: 180px;
    transition: transform 0.6s ease-out;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

//----------------------------------------------------------------------------------------
//FOOTER
.footer a {
    text-decoration: none;
}

//img
.footer-logo {
    width: 80px;
    height: 80px;
}

//----------------------------------------------------------------------------------------
//MEDIA QUERIES
//992px
@media (max-width: 992px) {
    .about .card-title {
        font-size: 1rem;
    }

    #heroLogo {
        width: 300px;
        height: 300px;
    }
}

//720px
@media (max-width: 767px) {
    .header .roles {
        font-size: 1.1rem !important;
    }

    .about-content {
        flex-direction: column;
    }

    #heroLogo {
        width: 270px;
        height: 270px;
    }

    #contactActionsCol {
        justify-content: center !important;
    }

    .contact-actions {
        flex-direction: row !important;
    }
}

//400px
@media (max-width: 400px) {
    #heroLogo {
        width: 220px;
        height: 220px;
    }

    .footer-logo {
        width: 50px;
        height: 50px;
    }
}
