//----------------------------------------------------------------------------------------
//GLOBAL ELEMENTS
//section title
.section-title {
    color: var(--bs-primary);
}

//section movement
section {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-out;
}

section.show {
    transform: translateX(0);
    opacity: 1;
}

//back-to-top btn
#backToTopBtn {
    opacity: 0;
}

#backToTopBtn.show {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: var(--bs-info);
    color: var(--bs-light);
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    opacity: 0.4;
    transition: opacity 0.6s ease;
}

#backToTopBtn:hover {
    opacity: 0.8;
}

//services dividers
.service-divider {
    border: 1px solid var(--bs-info);
}

//btns
.btn:active {
    transform: scale(0.98);
}

//details modal
#detailsModal .modal-dialog {
    max-width: 1150px;
    margin-top: 130px;
    width: 95%;
}

#detailsModal img {
    width: 80%;
}

#detailsModal .modal-card {
    width: 90%;
}

//----------------------------------------------------------------------------------------
//HEADER
//canvas
#animatedBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

//img
#heroLogo {
    width: 330px;
    height: 223px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.header .text-container {
    z-index: 10;
}

//----------------------------------------------------------------------------------------
//ABOUT ME
.my-info-link {
    text-decoration: none;
}

.my-info-link:hover {
    text-decoration: underline;
}

.about-picture {
    width: 120px;
}

.about .card {
    width: 30%;
    height: 142px;
    transition: transform 0.6s ease-out;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

.about .card:hover {
    transform: scale(1.1);
}

.about .skill-card-img {
    width: 90%;
}

//----------------------------------------------------------------------------------------
//PORTFOLIO
.project {
    transition: all 0.5s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

//----------------------------------------------------------------------------------------
//SERVICES
.services {
    background: url(../images/services2_bg.jpg) center center no-repeat;
    background-size: cover;
}

.services::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.services .container {
    z-index: 10;
}

//----------------------------------------------------------------------------------------
//CONTACT

//----------------------------------------------------------------------------------------
//FOOTER
.footer a {
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-link {
    color: #f4f4f4;
    transition: color 0.3s;
}

.footer .footer-link:hover {
    color: var(--bs-primary);
}

//img
.footer-logo {
    width: 80px;
    height: 80px;
}

//----------------------------------------------------------------------------------------
//MEDIA QUERIES
//992px
@media (max-width: 992px) {
    .about .card-title {
        font-size: 1rem;
    }

    #heroLogo {
        width: 300px;
        height: 203px;
    }
}

//720px
@media (max-width: 767px) {
    .about-content {
        flex-direction: column;
    }

    #heroLogo {
        width: 270px;
        height: 182px;
    }

    .modal-cont {
        flex-direction: column;
        text-align: center;
    }

    .modal-btns-cont {
        justify-content: center !important;
    }

    #detailsModal img {
        width: 40%;
    }

    #detailsModal .modal-dialog {
        margin-top: 30px;
    }

    #detailsModal .modal-card {
        width: 100%;
    }
}

//419px
@media (max-width: 419px) {
    .about-text {
        font-size: 0.9rem;
        text-align: center;
    }
}

//400px
@media (max-width: 400px) {
    #heroLogo {
        width: 243px;
        height: 164px;
    }

    .footer-logo {
        width: 50px;
        height: 50px;
    }

    .about-text {
        font-size: 0.8rem;
    }
}

//321px
@media (max-width: 321px) {
    .skill-cards-cont .card-title {
        font-size: 0.9rem !important;
    }
}
